apiVersion: v1
kind: Secret
metadata:
  name: app-secrets
  namespace: execute-tech-academy
type: Opaque
stringData:
  SECRET_KEY: "your-secret-key-change-in-production-min-32-characters-long"
  POSTGRES_USER: "admin"
  POSTGRES_PASSWORD: "change-this-in-production"
  DATABASE_URL_AUTH: "postgresql://admin:change-this-in-production@postgres-service:5432/auth_db"
  DATABASE_URL_PRODUCT: "postgresql://admin:change-this-in-production@postgres-service:5432/product_db"
  DATABASE_URL_ORDER: "postgresql://admin:change-this-in-production@postgres-service:5432/order_db"
  DATABASE_URL_PAYMENT: "postgresql://admin:change-this-in-production@postgres-service:5432/payment_db"
  PAYSTACK_SECRET_KEY: "sk_test_your_key_here"
  PAYSTACK_PUBLIC_KEY: "pk_test_your_key_here"
